server:
  replicaCount: 1
  service:
    annotations:
      prometheus.io/scrape: "true"
      prometheus.io/port: "9090"
  resources:
    requests:
      cpu: 250m
      memory: 512Mi
    limits:
      memory: 1Gi
  retention: 15d
  retentionSize: 10GB

alertmanager:
  enabled: true
  resources:
    requests:
      memory: 128Mi
    limits:
      memory: 256Mi

pushgateway:
  enabled: false
