prometheus:
  prometheusSpec:
    replicas: 1
    retention: 15d
    retentionSize: 10GB
    resources:
      requests:
        cpu: 250m
        memory: 512Mi
      limits:
        memory: 1Gi

alertmanager:
  enabled: true
  alertmanagerSpec:
    replicas: 1
    resources:
      requests:
        memory: 128Mi
      limits:
        memory: 256Mi

grafana:
  replicas: 1

  persistence:
    enabled: true
    size: 1Gi

  initChownData:
    enabled: false

  resources:
    requests:
      memory: 256Mi
    limits:
      memory: 512Mi

  adminUser: admin
  adminPassword: admin

  dashboardProviders:
    dashboardproviders.yaml:
      apiVersion: 1
      providers:
        - name: default
          orgId: 1
          folder: ""
          type: file
          disableDeletion: false
          editable: true
          options:
            path: /var/lib/grafana/dashboards/default

  sidecar:
    dashboards:
      enabled: true
      label: grafana_dashboard
      searchNamespace: ALL

  additionalDataSources:
    - name: Loki
      type: loki
      url: http://loki-gateway.logging.svc.cluster.local
      access: proxy
      editable: true

  ingress:
    enabled: true
    hosts:
      - grafana.localhost
    path: /
    pathType: Prefix

prometheusOperator:
  admissionWebhooks:
    enabled: false
    patch:
      enabled: false

