apiVersion: secrets.infisical.com/v1alpha1
kind: InfisicalSecret
metadata:
  name: ghcr-oci-creds
  namespace: argocd
spec:
  hostAPI: ${INFISICAL_HOST_API}
  authentication:
    kubernetesAuth:
      identityId: ${INFISICAL_IDENTITY_ID}
      autoCreateServiceAccountToken: true
      serviceAccountRef:
        name: infisical-argocd-service-account
        namespace: argocd
      secretsScope:
        projectSlug: ${INFISICAL_PROJECT_SLUG}
        envSlug: ${INFISICAL_ENV_SLUG}
        secretsPath: "${INFISICAL_ARGOCD_GHCR_OCI_CREDS_PATH}"
        recursive: true
  managedKubeSecretReferences:
    - secretName: ghcr-oci-creds
      secretNamespace: argocd
      creationPolicy: Orphan
      template:
        includeAllSecrets: true
        metadata:
          labels:
            argocd.argoproj.io/secret-type: repo-creds
