apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: promtail
  namespace: argocd
spec:
  project: default

  source:
    repoURL: oci://ghcr.io/grafana/helm-charts
    chart: promtail
    targetRevision: 6.17.1
    helm:
      releaseName: promtail
      valueFiles:
        - values.yaml

  destination:
    server: https://kubernetes.default.svc
    namespace: logging

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
