apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: logging
  namespace: argocd
spec:
  project: default

  source:
    repoURL: oci://ghcr.io/grafana/charts
    chart: loki
    targetRevision: 6.51.0   # pinned latest version
    helm:
      releaseName: loki
      valueFiles:
        - values.yaml

  destination:
    server: https://kubernetes.default.svc
    namespace: logging

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
